body {
  text-align: center;
  background-color:#E5E4E2;
  font-family: georgia, serif; 
  height: 100vh; 
}

#title {
  margin-top: 20px; 
}

.subheading {
  font-size: 200%; 
}

#subheading2 {
  margin-top: 20px; 
  margin-bottom: 20px; 
}


#title {
  font-size: 400%;
  text-align: center; 
  margin-bottom: 50px; 

}

button {
  padding: 8px; 
  border-radius: 10px;
  /*background-color: #ededed;  */
  background-color: #656e76;
  color: #ebecee;
  font-size: ;
}

button:hover {
  box-shadow: 2px 2px #1e2023;
  transform: scale(1.2); 
  background-color: #7d868f;
  
}

.buttons button {
  display: block; 
  margin: 10px; 
  margin-top: 15px; 
  padding: 10px; 
  flex-wrap: wrap; 

 
}

.buttons {
  margin-top: 20px; 
  display: flex; 
  
}



#bottomButtons{
  display: flex; 
  margin: 10px; 
  margin-top: 15px; 
  gap: 6vw;  

}

#bottomButtons button {
}

.grid {

  height: 600px; 
  width: 600px; 
  border-style: double; 
  border-color: black; 
  display: grid; 
  border-width: 5px; 
  background-color: white; 
  margin-top: 10px; 
  

   
}

.content {
  display: flex; 
  justify-content: space-around; 
  
}

.slide-container {
  margin: 40px; 
  margin-left: 10px; 
}

.footer {
 position: relative; 
 bottom: 0; 
 left: 0; 
 display: flex; 
 align-items: center;
 justify-content: center; 
 width: 100%; 

}

.slide-title {
  margin-bottom: 20px; 
  font-size: 200%;  
  margin-top: -20px; 
}

#sizeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%; 
  height: 15px; 
  background-color: #818589;
  cursor: pointer; 
  border-radius: 10px; 
}

.slide-container {
  width: 100%;
}

#sizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 30px; 
  width: 30px; 
  background: #36454F;
  border-radius: 10px;
}

#sizeSlider::-webkit-slider-thumb:hover {
  transform: scale(1.2); 
}








/* 
Potential theme colors 

Platinum	#E5E4E2
super light grey #ededed;  

previous box shadow: #566573;
