body {
  text-align: center;
  background-color: #ededed; 
}

.subheading {
  font-size: 200%; 
}

#subheading2 {
  margin-top: 20px; 
  margin-bottom: 20px; 
}


#title {
  font-size: 400%;
  text-align: center; 
  margin-bottom: 50px; 

}

button {
  padding: 8px; 
  border-radius: 10px;
}

.buttons button {
  display: block; 
  margin: 10px; 
  margin-top: 15px; 
}

.buttons {
  margin-top: 20px; 
  display: flex; 
  padding: 10px;  
}

.bottomButtons button{
  display: block; 
  margin: 10px; 
  margin-top: 15px; 

}
.grid {

  height: 600px; 
  width: 600px; 
  border-style: double; 
  border-color: black; 
  display: grid; 

   
}

.content {
  display: flex; 
  justify-content: space-around; 
  
}

.slide-container {
  margin: 40px; 
  margin-left: 10px; 
}

.footer {
 position: absolute; 
 bottom: 0; 
 left: 0; 
 display: flex; 
 align-items: center;
 justify-content: center; 
 width: 100%; 


}


